---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="about-section">
		<div class="about-content">
			<div class="about-text">
				<h1>De Lisboa, Filipe Monteiro</h1>
				<p>é um fotógrafo amador, sempre à procura de oportunidades para crescer o portfólio e ganhar experiência.</p>
				<p>Trabalha sobretudo com retratos e fotografia de rua, embora fotografe também eventos e espetáculos.</p>
			</div>
			<div class="about-image">
			<img src="/images/pfp_sun_plane.jpeg" alt="Filipe Monteiro" />
			</div>
		</div>
		<div class="public-relations">
			<div class="contact-section">
				<h2>Para informações ou serviços</h2>
			</div>
			<div class="contact-info">
				<div class="email">
					<p>Filipe Monteiro</p>
					<p>filipe.monteiro.ph@outlook.com</p>
				</div>
				<div class="instagram">
					<p>Instagram</p>
					<p><a href="https://www.instagram.com/monteiro.gallery/" target="_blank" rel="noopener">@monteiro.gallery</a></p>
				</div>
			</div>
		</div>
		<div class="experience">
			<h2>Experiência</h2>
			<p>Fotógrafo de eventos (Lounge IST) - 2025-presente</p>
		</div>
	</div>
</BaseLayout>