---
import BaseLayout from '../layouts/BaseLayout.astro';
import CollectionCard from '../components/CollectionCard.astro';

const abrilImages = [
  {
    src: `${import.meta.env.BASE_URL}/images/25abrilinimigo.webp`,
    alt: "25 de Abril 2026"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/IMG_3249-1.webp`,
    alt: "25 de Abril 2026"
  },
    {
        src: `${import.meta.env.BASE_URL}/images/duoRiso.webp`,
        alt: "25 de Abril 2026"
    }
];

---

<BaseLayout>
    <div class="documentary">
        <div class="title">
            <h2>Documentário</h2>
        </div>
        <div class="gallery">

            <CollectionCard title="25 de Abril 2026" images={abrilImages}/>

        </div>
    </div>
</BaseLayout>