---
import BaseLayout from '../layouts/BaseLayout.astro';
import CollectionCard from '../components/CollectionCard.astro';

const abrilImages = [
  {
    src: "/images/25abrilinimigo.jpg",
    alt: "25 de Abril 2026"
  },
  {
    src: "/images/IMG_3249-1.jpg",
    alt: "25 de Abril 2026"
  },
    {
        src: "/images/duoRiso.jpg",
        alt: "25 de Abril 2026"
    }
];

---

<BaseLayout>
    <div class="documentary">
        <div class="title">
            <h2>Documentário</h2>
        </div>
        <div class="gallery">

            <CollectionCard title="25 de Abril 2026" images={abrilImages}/>

        </div>
    </div>
</BaseLayout>