---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="gallery">
	<img src="/images/alwaysrush.jpg" alt=""/>
	<img src="/images/guilhermeGrade.jpg" alt=""/>
	<img src="/images/senhorFonte.jpg" alt=""/>
	<img src="/images/protestoEstudantebw.jpg" alt=""/>
	<img src="/images/duoRiso.jpg" alt=""/>
	<img src="/images/velhotePraia.jpg" alt=""/>
	<img src="/images/guilhermePonte.jpg" alt=""/>
	<img src="/images/ornatos.jpg" alt=""/>
	<img src="/images/25abrilinimigo.jpg" alt=""/>
	<img src="/images/gallery1.jpg" alt=""/>
	<img src="/images/gallery1.jpg" alt=""/>

  </div>
</BaseLayout>