---
import BaseLayout from '../layouts/BaseLayout.astro';
import PhotoCard from '../components/PhotoCard.astro';
---

<BaseLayout>
    <div class="paisagens">
        <div class="title">
            <h2>Paisagens</h2>
        </div>
        <div class="gallery">
            <PhotoCard src="/images/mar_madeira.jpg" alt="Blue" />
            <PhotoCard src="/images/rio_landscape1.jpg" alt="No name" />
            <PhotoCard src="/images/deck_oriente.jpg" alt="No name" />
        </div>
    </div>
</BaseLayout>