---
import BaseLayout from '../layouts/BaseLayout.astro';
import CollectionCard from '../components/CollectionCard.astro';

const guilhermeImages = [
  {
    src: `${import.meta.env.BASE_URL}/images/guilhermeGrade.webp`,
    alt: "Guilherme Collection"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/guilhermePonte.webp`,
    alt: "Guilherme Collection"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/guilherme_telemovel.webp`,
    alt: "Guilherme Collection"
  }
];

---

<BaseLayout>
    <div class="portraits">
        <div class="title">
            <h2>Retratos</h2>
        </div>
        <div class="gallery">

            <CollectionCard title="Guilherme Collection" images={guilhermeImages}/>

        </div>
    </div>
</BaseLayout>