---
import BaseLayout from '../layouts/BaseLayout.astro';
import PhotoCard from '../components/PhotoCard.astro';
---

<BaseLayout>
    <div class="eventos">
        <div class="title">
            <h2>Eventos</h2>
        </div>
        <div class="gallery">
            
        </div>
    </div>
  
</BaseLayout>