---
import BaseLayout from '../layouts/BaseLayout.astro';
import PhotoCard from '../components/PhotoCard.astro';
---

<BaseLayout>
    <div class="street">
        <div class="title">
            <h2>Street Photography</h2>
        </div>
        <div class="gallery">
            <PhotoCard src="/images/alwaysrush.jpg" alt="Always in a Rush" />
            <PhotoCard src="/images/guilhermeGrade.jpg" alt="Guilherme Collection" />
            <PhotoCard src="/images/senhorFonte.jpg" alt="Senhor Fonte" />
            <PhotoCard src="/images/protestoEstudantebw.jpg" alt="Manifestação Estudante 2026" />
            <PhotoCard src="/images/duoRiso.jpg" alt="Duo Riso" />
            <PhotoCard src="/images/velhotePraia.jpg" alt="Velhote Praia" />
            <PhotoCard src="/images/guilhermePonte.jpg" alt="Guilherme Collection" />
            <PhotoCard src="/images/ornatos.jpg" alt="Ornatos" />
            <PhotoCard src="/images/25abrilinimigo.jpg" alt="25 de Abril Inimigo" />
        </div>
    </div>
  
</BaseLayout>