---
import BaseLayout from '../layouts/BaseLayout.astro';
import PhotoCard from '../components/PhotoCard.astro';
---

<BaseLayout>
    <div class="street">
        <div class="title">
            <h2>Street Photography</h2>
        </div>
        <div class="gallery">
            <PhotoCard src="/images/alwaysrush.jpg" alt="Always in a Rush" />
            <PhotoCard src="/images/senhorFonte.jpg" alt="Senhor Fonte" />
            <PhotoCard src="/images/velhotePraia.jpg" alt="Velhote Praia" />
            <PhotoCard src="/images/feira_caldas.jpg" alt="Trocas" />
            <PhotoCard src="/images/estacaocentral_ams.jpg" alt="Train doesn't wait" />
            <PhotoCard src="/images/loneliness.jpg" alt="Loneliness" />
            <PhotoCard src="/images/parapente.jpg" alt="kitesurf" />
            <PhotoCard src="/images/senhora_filha_metro.jpg" alt="Exploration" />
            <PhotoCard src="/images/passeio_cao_ams.jpg" alt="Dog world" />
            <PhotoCard src="/images/FilipeSerafim_ConcursoLEICA.jpg" alt="Culture" />
        </div>
    </div>
  
</BaseLayout>