---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Monteiro Photography</title>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <aside class="side-bar">
      <Header />
    </aside>

    <main class="content">
      <slot />
    </main>

    <Footer />

    <script>
      const menu = document.querySelector('.menu');

      menu?.addEventListener('click', () => {
        const isExpanded = menu.getAttribute('aria-expanded') === 'true';
        menu.setAttribute('aria-expanded', `${!isExpanded}`);
      });
    </script>
  </body>
</html>